/*
 * File: <project root>/sass/estructura.scss
 * Project: simx72-website
 * File Created: Saturday, 25th November 2023 11:58:55 pm
 * Author: Simx72 (angel2600@proton.me)
 * -----
 * Copyright (C) 2023  Simx72
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 */



* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	width: 100% !important;
	background-color: #202020;
	background-image: url('/asset.php?name=background');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	font-family: 'Fira Code', 'Courier New', Courier, monospace;
	overflow-x: hidden;
}

/* Header */
body>#header {
	padding: 1rem 2rem;
	background-color: #353535;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* Cuerpo */
#cuerpo {
	// border: 1px solid black;
	padding: 2rem 0;
	min-height: 100vh;
}

#footer-1 {
	width: 100%;
	margin: 0;
	background: darkblue;
}

#footer-2 {
	margin: 2rem 0;
}

#footer-3 {
	margin: 2rem 0;
	text-align: center;
}

#footer {
	background-color: darkblue;
	margin: 0;
	overflow: auto;
}

.stick-to-bottom {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	left: 0;
}

/* ## Organización ## */

.container>.bloque {
	@extend .center;
}

/* bloques */
.bloque {
	/* bloque básico */
	max-width: 900px;
	background-color: rgba($color: rgb(159, 159, 159), $alpha: .7);
	border-radius: 1.6rem;
	backdrop-filter: blur(3px);
	padding: 1rem 2rem;
	transition-duration: 500ms;
}

.bloque:hover {
	transition-duration: 150ms;
	box-shadow: 0 3px 20px rgba(72, 129, 141, 0.3);
}

/* posicionamiento */
.left {
	margin-right: auto;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.right {
	margin-left: auto;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.mw-900 {
	max-width: 900px;
}