/*
 * Simx72 website
 * 
 * @author Simx72
 * @link mailto:angel2600@proton.me
 * @link http://sdesim.ca/
 * @license https://www.gnu.org/licenses/gpl-3.0.en.html
 * -----
 * Copyright (C) 2024  Simx72
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 */



.content {
    font-size: 16pt;
	background-color: rgba($color: #FFF, $alpha: .7);
	backdrop-filter: blur(3px);
	padding: 1rem 2rem;
	transition-duration: 500ms;
    color: var(--bs-body-color);
}

.contenido-corto-pub {
	height: 50px;
	overflow: hidden;
	line-height: 22px;
}