/*
 * File: <project root>/sass/index.scss
 * Project: simx72-website
 * File Created: Thursday, 23rd November 2023 4:01:35 pm
 * Author: Simx72 (angel2600@proton.me)
 * -----
 * Copyright (C) 2023  Simx72
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 */



@import "./tema"; // bootstrap styles; va al comienzo para que no sobreescriba otros estilos
@import "./fonts";
@import "./texto";
@import "./estructura";


/* it works! */
@keyframes heartbeat {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}


.it-works-button::before {
    color: rgb(3, 179, 3);
    content: "●";
    animation: heartbeat infinite 1600ms ease-out;
}

header .img-de-perfil {
    $size: 2em;
    width: $size;
    height: $size;
    border-radius: 100%;
}


.img-de-perfil {
    aspect-ratio: 1 !important;
    width: 100%;
    background-color: #383838dc;
}

.form-floating {
    color: black !important;
}