
.col-juego {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .boton-juego {
        width: 70%;
        aspect-ratio: 1;
        cursor: pointer;
        transition-duration: 500ms;
        
        &:hover {
            width: 100%;
        }
        
        img {
            border-radius: 10px;
            width: 100%;
            aspect-ratio: 1;
        }
    }


}

.boton-juego-tooltip {
    --bs-tooltip-bg: var(--bs-info);
    --bs-tooltip-color: var(--bs-white);
}